.env
__pycache__/
venv/
.DS_Store
.ipynb_checkpoints/
*.pyc

# draft scripts
count_works.py
download_from_openalex.py

build/
egg-info/
dependency_links.txt
PKG-info
requires.txt
SOURCES.txt
top_level.txt